# configure artifacts
/config.mk

# build artifacts
*.o
src/*.o
*.d

# result binaries
/dipirec
/dipiscan
/dipicam
/dipiradiohead
/dipisds
/dipixmltv
/dipibim
/dipiepg
/dipitvhead

# cmake generic and profile builds
/build*/
/cmake-*/

# dist
/CMakeFiles
/obj-x86_64-linux-gnu

# test samples
*.ts
*.mkv
*.mka

*.m3u
*.xspf
*.csv

# IDE
/.idea

# packaging
*.deb
/debian/.debhelper
/debian/dvbipitools
/debian/dvbipitools.substvars
/debian/files
/debian/debhelper-build-stamp

#EOF
