#!/usr/bin/make -f

DEB_HOST_GNU_TYPE ?= $(shell dpkg-architecture -qDEB_HOST_GNU_TYPE)
BUILDDIR := obj-$(DEB_HOST_GNU_TYPE)

%:
	dh $@ --buildsystem=cmake

override_dh_auto_configure:
	dh_auto_configure -- -DCMAKE_BUILD_TYPE=Release -DDVBIPITOOLS_STATIC=ON

override_dh_auto_install:
	install -D -m 0755 $(BUILDDIR)/src/dipirec/dipirec debian/dvbipitools/usr/bin/dipirec
	install -D -m 0755 $(BUILDDIR)/src/dipiscan/dipiscan debian/dvbipitools/usr/bin/dipiscan
