#!/usr/bin/make -f

DEB_HOST_GNU_TYPE ?= $(shell dpkg-architecture -qDEB_HOST_GNU_TYPE)
DEB_HOST_MULTIARCH ?= $(shell dpkg-architecture -qDEB_HOST_MULTIARCH)
BUILDDIR := obj-$(DEB_HOST_GNU_TYPE)

%:
	dh $@ --buildsystem=cmake

override_dh_auto_configure:
	dh_auto_configure -- -DCMAKE_BUILD_TYPE=Release -DCMAKE_LIBRARY_ARCHITECTURE=$(DEB_HOST_MULTIARCH)

override_dh_auto_install:
	install -D -m 0755 $(BUILDDIR)/src/dipirec/dipirec debian/dvbipitools/usr/bin/dipirec
	install -D -m 0755 $(BUILDDIR)/src/dipirist/dipirist debian/dvbipitools/usr/bin/dipirist
	install -D -m 0755 $(BUILDDIR)/src/dipiscan/dipiscan debian/dvbipitools/usr/bin/dipiscan
	install -D -m 0755 $(BUILDDIR)/src/dipiradiohead/dipiradiohead debian/dvbipitools/usr/bin/dipiradiohead
	install -D -m 0755 $(BUILDDIR)/src/dipisds/dipisds debian/dvbipitools/usr/bin/dipisds
	install -D -m 0755 $(BUILDDIR)/src/dipixmltv/dipixmltv debian/dvbipitools/usr/bin/dipixmltv
	install -D -m 0755 $(BUILDDIR)/src/dipibim/dipibim debian/dvbipitools/usr/bin/dipibim
	install -D -m 0755 $(BUILDDIR)/src/dipibcg/dipibcg debian/dvbipitools/usr/bin/dipibcg
	install -D -m 0755 $(BUILDDIR)/src/dipitvhead/dipitvhead debian/dvbipitools/usr/bin/dipitvhead
	install -D -m 0755 $(BUILDDIR)/src/dipimetrics/dipimetrics debian/dvbipitools/usr/bin/dipimetrics
	install -D -m 0755 $(BUILDDIR)/src/dipifccret/dipifccret debian/dvbipitools/usr/bin/dipifccret
	install -D -m 0755 $(BUILDDIR)/src/dipicam378/dipicam378 debian/dvbipitools/usr/bin/dipicam378
	install -D -m 0755 $(BUILDDIR)/src/dipidescramble/dipidescramble debian/dvbipitools/usr/bin/dipidescramble
	install -D -m 0644 src/dipirec/dipirec.1 debian/dvbipitools/usr/share/man/man1/dipirec.1
	install -D -m 0644 src/dipirist/dipirist.1 debian/dvbipitools/usr/share/man/man1/dipirist.1
	install -D -m 0644 src/dipiscan/dipiscan.1 debian/dvbipitools/usr/share/man/man1/dipiscan.1
	install -D -m 0644 src/dipiradiohead/dipiradiohead.1 debian/dvbipitools/usr/share/man/man1/dipiradiohead.1
	install -D -m 0644 src/dipisds/dipisds.1 debian/dvbipitools/usr/share/man/man1/dipisds.1
	install -D -m 0644 src/dipixmltv/dipixmltv.1 debian/dvbipitools/usr/share/man/man1/dipixmltv.1
	install -D -m 0644 src/dipibim/dipibim.1 debian/dvbipitools/usr/share/man/man1/dipibim.1
	install -D -m 0644 src/dipibcg/dipibcg.1 debian/dvbipitools/usr/share/man/man1/dipibcg.1
	install -D -m 0644 src/dipitvhead/dipitvhead.1 debian/dvbipitools/usr/share/man/man1/dipitvhead.1
	install -D -m 0644 src/dipimetrics/dipimetrics.1 debian/dvbipitools/usr/share/man/man1/dipimetrics.1
	install -D -m 0644 src/dipifccret/dipifccret.1 debian/dvbipitools/usr/share/man/man1/dipifccret.1
	install -D -m 0644 src/dipicam378/dipicam378.1 debian/dvbipitools/usr/share/man/man1/dipicam378.1
	install -D -m 0644 src/dipidescramble/dipidescramble.1 debian/dvbipitools/usr/share/man/man1/dipidescramble.1
